$darkBlue: #0a2640;
$green: #65e4a3;
$greenShade2: #4fe9a4;
$greenBD: #69e6a6;
$white: #ffffff;
$grey: #777777;
$lighyGrey: #f1f1f1;
$greyShade1: #c4c4c4;
$blue: #0dbbfc;
$black: #000000;
$openSans: 'Open Sans', 'Manrope', 'Helvetica Neue';
