@import './_variables.scss';

.about_container {
  background-color: $darkBlue;
  // background-image: url('../../public/assets/images/header_bg_mask.svg');
  background-repeat: no-repeat;
  background-position: right top;
  color: $white;
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 1;

  .lead_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 500px;
    text-align: center;
    margin-bottom: 3em;

    @include md_min {
      min-height: 250px;
    }

    .info {
      max-width: 842px;
      width: 100%;
      margin-bottom: 1em;
      h4 {
        @include txt_20_sans();
        margin: 0;
        margin-bottom: 1em;
      }
      h1 {
        font-weight: 400;
        font-size: clamp(1.8em, 5.8vw, 4em);
        line-height: 131%;
        margin: 0;
      }
    }
    .desc {
      max-width: 745px;
      width: 100%;
      p {
        @include txt_16_sans();
        color: $lighyGrey;
      }
    }
  }
}
.hero_illustration_contain {
  margin-top: -8em;
  background-color: $white;
  position: relative;
  .illustration_list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, max-content));
    grid-auto-rows: minmax(225px, auto);
    justify-content: space-between;
    grid-gap: 3.1em;
    max-width: 1102px;
    margin: 0 auto;
    padding: 0;
    position: relative;
    z-index: 2;
    color: $white;

    .illustration_list_item {
      max-width: 300px;
      &.mid {
        grid-column: 2;
        grid-row: 1 / 3;
        max-width: 400px;
      }
      &.right {
        max-width: 302px;
      }
    }
  }
}
.our_story_container {
  .lead_container {
    display: flex;
    flex-direction: column;
    // align-items: flex-start;
    // justify-content: start;
    width: fit-content;
    margin: 5em auto;

    @include md_min {
      margin: 2em 0;
    }

    .info {
      max-width: 842px;
      width: 100%;
      margin-bottom: 2.4em;
      h4 {
        @include txt_20_sans($grey);
        margin: 0;
        margin-bottom: 12px;
      }
      h2 {
        @include head_h1_default();
        margin: 0;
      }
    }
    .desc {
      max-width: 800px;
      width: 100%;
      p {
        @include txt_20_sans($grey);
      }
    }
  }
  &.inverted {
    background: $darkBlue;
    .lead_container {
      justify-content: center;
      .info h4,
      .info h2 {
        color: $white;
      }
      .desc p {
        color: $lighyGrey;
      }
    }
  }
}
.our_numbers_container {
  background: $darkBlue;

  .lead_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 5em 0;

    @include md_min {
      margin: 2em 0;
    }

    .info {
      max-width: 842px;
      width: 100%;
      margin-bottom: 1em;
      h4 {
        @include txt_20_sans($lighyGrey);
        margin: 0;
        margin-bottom: 1em;
      }
      h2 {
        @include head_h1_default($white);
        margin: 0;
      }
    }
    .company_stats_contain {
      max-width: 1000px;
      width: 100%;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: center;
      text-align: left;
      margin-top: 2em;
      h3 {
        font-size: clamp(1.8em, 7.8vw, 6em);
        font-weight: 400;
        line-height: 56px;
        color: $greenShade2;
        margin-bottom: 0.5em;
      }
      p {
        @include txt_24_sans($lighyGrey);
      }
    }
  }
  &.inverted {
    background: $white;

    .lead_container {
      .info {
        h4,
        h2 {
          color: $darkBlue !important;
        }
      }
    }
    .company_stats_contain {
      h3,
      p {
        color: $darkBlue !important;
      }
    }
  }
}
.our_team_container {
  padding: clamp(1em, 6vw, 5em) clamp(1em, 7vw, 6em);
  .lead_container {
    display: flex;
    flex-direction: column;
    margin-bottom: 52px;
    max-width: 1000px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0 6%;

    .info {
      max-width: 842px;
      width: 100%;
      margin-bottom: 1em;
      h4 {
        @include txt_20_sans($grey);
        margin: 0;
        margin-bottom: 1em;
      }
      h2 {
        @include head_h1_default();
        margin: 0;
      }
    }
    .desc {
      max-width: 800px;
      width: 100%;
      p {
        @include txt_20_sans($grey);
      }
    }
  }
  .team_members_contain {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, max-content));
    justify-content: space-between;
    grid-gap: 51px;
    padding: 0;
    max-width: 1002px;
    margin: 0 auto;

    .team_member {
      .team_member_display {
        max-width: 300px;
        max-height: 354px;
      }
      .team_member_info {
        h4 {
          font-weight: 400;
          font-size: 28px;
          line-height: 171%;
          margin-bottom: 0;
          margin-top: 24px;
        }
        p {
          font-weight: 400;
          font-size: 20px;
          line-height: 160%;
          font-family: $openSans;
          margin-top: 12px;
          margin-bottom: 14px;
          color: $grey;
        }
      }
    }

    &.md_vw {
      max-width: 901px;
      grid-template-columns: repeat(auto-fill, minmax(250px, max-content));
      .team_member {
        .team_member_display {
          max-width: 250px;
          height: 250px;
        }
      }
    }
    &.disp_row {
      margin-top: 4em;
      max-width: 901px;
      grid-template-columns: repeat(auto-fill, minmax(400px, max-content));
      .team_member {
        display: flex;
        height: 120px;
        .team_member_display {
          width: 120px;
          margin-right: 10px;
        }
      }
    }
  }
  .team_members_contain_inverted {
    display: none;
  }

  &.inverted {
    .team_members_contain {
      display: none;
    }
    .team_members_contain_inverted {
      display: block;
      .team_members_contain {
        display: grid;
      }
    }
  }
}
.our_values_container {
  background-color: $darkBlue;
  color: $white;
  padding: clamp(1em, 7vw, 6em);
  .lead_contain {
    max-width: 799px;
    margin: 0 auto;
    color: $white;
    padding-bottom: 1em;
    margin-bottom: 3em;

    h4 {
      @include txt_20_sans();
    }
    h2 {
      @include head_h1_default();
      max-width: 862px;
      margin-left: auto;
      margin-right: auto;
    }
    p {
      @include txt_20_sans();
    }
  }
  .value_insight_contain {
    max-width: 799px;
    margin: 0 auto;
    .value_item {
      display: flex;
      margin-bottom: clamp(1.5em, 4.5vw, 3em);
      @include md_min {
        flex-direction: column;
      }

      .value_illustration {
        max-width: 150px;
        max-height: 151px;
        margin-right: 3em;
      }
      .value_content {
        max-width: 602px;
        h3 {
          margin: 0;
          margin-bottom: 1em;
          font-weight: 400;
          font-size: clamp(1.5em, 2.5vw, 1.75em);
          line-height: 171%;
        }
        p {
          margin: 0;
          @include txt_20_sans($lighyGrey);
        }
      }
    }
  }
}
.our_blog_container {
  background-color: $darkBlue;
  color: $white;
  padding: clamp(1em, 7vw, 6em);
  .lead_contain {
    text-align: center;
    max-width: 1099px;
    margin: 0 auto;
    color: $white;
    border-bottom: 1px solid $white;
    padding-bottom: 1em;

    h4 {
      @include txt_20_sans();
    }
    h2 {
      @include head_h1_default();
      max-width: 862px;
      margin-left: auto;
      margin-right: auto;
    }
  }
  .blog_insight_contain {
    margin: 2em auto;
    // margin-top: 2em;
    max-width: 1099px;
    .blog_insight_item {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      margin-bottom: 1.5em;
      &-key {
        width: 100%;
        max-width: 500px;
        h3 {
          @include head_h1_default();
          margin: 0.4em 0;
          span {
            color: $green;
          }
        }
      }
      &-value {
        width: 100%;
        max-width: 510px;
        p {
          @include txt_20_sans($lighyGrey);
        }
      }
    }
  }
}

.about_container.inverted {
  background-color: $green;

  .nav-link_link.btn_default {
    display: none;
  }
  .nav-link_link.btn_aboutv2 {
    display: block;
  }
  .lead_container {
    text-align: left;
    flex-flow: row wrap;
    justify-content: flex-start;
    min-height: 340px;
    margin-bottom: 0;

    @include md_min {
      min-height: 250px;
    }

    .info {
      max-width: 610px;
      h4 {
        color: $darkBlue;
      }
      h1 {
        color: $black;
        font-size: clamp(1.5em, 4.5vw, 3em);
        line-height: 150%;
      }
    }
    .desc {
      max-width: 455px;
      margin: 0 auto;
      p {
        color: $darkBlue;
      }
    }
  }
}
