@import './_variables.scss';

.about_container {
  background-color: $darkBlue;
  // background-image: url('../../public/assets/images/header_bg_mask.svg');
  background-repeat: no-repeat;
  background-position: right top;
  color: $white;
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 1;

  .lead_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 500px;
    text-align: center;
    margin-bottom: 3em;

    .info {
      max-width: 842px;
      width: 100%;
      margin-bottom: 1em;
      h4 {
        font-weight: 400;
        font-size: 20px;
        line-height: 32px;
        margin: 0;
        margin-bottom: 1em;
      }
      h1 {
        font-weight: 400;
        font-size: 64px;
        line-height: 84px;
        margin: 0;
      }
    }
    .desc {
      max-width: 745px;
      width: 100%;
      p {
        font-family: $openSans;
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        color: $lighyGrey;
      }
    }
  }
}
.hero_illustration_contain {
  margin-top: -8em;
  background-color: $white;
  position: relative;
  .illustration_list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, max-content));
    grid-auto-rows: minmax(225px, auto);
    justify-content: space-between;
    grid-gap: 2em;
    padding: 0;
    position: relative;
    z-index: 2;
    color: $white;

    .illustration_list_item {
      &.mid {
        grid-column: 2;
        grid-row: 1 / 3;
      }
    }
  }
}
.our_story_container {
  .lead_container {
    display: flex;
    flex-direction: column;
    // align-items: flex-start;
    // justify-content: start;
    min-height: 500px;
    margin-bottom: 3em;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;

    .info {
      max-width: 842px;
      width: 100%;
      margin-bottom: 1em;
      h4 {
        font-weight: 400;
        font-family: $openSans;
        font-size: 20px;
        line-height: 32px;
        margin: 0;
        margin-bottom: 1em;
        color: $grey;
      }
      h2 {
        font-weight: 400;
        font-size: 48px;
        line-height: 150%;
        margin: 0;
      }
    }
    .desc {
      max-width: 800px;
      width: 100%;
      p {
        font-family: $openSans;
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        color: $grey;
      }
    }
  }
  &.inverted {
    background: $darkBlue;
    .lead_container {
      margin-bottom: 0;
      justify-content: center;
      .info h4,
      .info h2 {
        color: $white;
      }
      .desc p {
        color: $lighyGrey;
      }
    }
  }
}
.our_numbers_container {
  background: $darkBlue;

  .lead_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 500px;
    text-align: center;
    margin-bottom: 3em;
    margin-top: 3em;

    .info {
      max-width: 842px;
      width: 100%;
      margin-bottom: 1em;
      h4 {
        font-weight: 400;
        font-family: $openSans;
        font-size: 20px;
        line-height: 32px;
        margin: 0;
        margin-bottom: 1em;
        color: $lighyGrey;
      }
      h2 {
        font-weight: 400;
        font-size: 48px;
        line-height: 150%;
        margin: 0;
        color: $white;
      }
    }
    .company_stats_contain {
      max-width: 1000px;
      width: 100%;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: center;
      text-align: left;
      margin-top: 2em;
      h3 {
        font-weight: 400;
        font-size: 96px;
        line-height: 56px;
        color: $greenShade2;
        margin-bottom: 0.5em;
      }
      p {
        font-weight: 400;
        font-size: 24px;
        line-height: 36px;
        font-family: $openSans;
        color: $lighyGrey;
      }
    }
  }
  &.inverted {
    background: $white;

    .lead_container {
      .info {
        h4,
        h2 {
          color: $darkBlue !important;
        }
      }
    }
    .company_stats_contain {
      h3,
      p {
        color: $darkBlue !important;
      }
    }
  }
}
.our_team_container {
  .lead_container {
    display: flex;
    flex-direction: column;
    margin-bottom: 3em;
    max-width: 1000px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0 6%;

    .info {
      max-width: 842px;
      width: 100%;
      margin-bottom: 1em;
      h4 {
        font-weight: 400;
        font-family: $openSans;
        font-size: 20px;
        line-height: 32px;
        margin: 0;
        margin-bottom: 1em;
        color: $grey;
      }
      h2 {
        font-weight: 400;
        font-size: 48px;
        line-height: 150%;
        margin: 0;
      }
    }
    .desc {
      max-width: 800px;
      width: 100%;
      p {
        font-family: $openSans;
        font-weight: 400;
        font-size: 20px;
        line-height: 28px;
        color: $grey;
      }
    }
  }
  .team_members_contain {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, max-content));
    justify-content: space-between;
    grid-gap: 2em;
    padding: 0;
    max-width: 1000px;
    margin: 0 auto;

    .team_member {
      .team_member_display {
        max-width: 300px;
      }
      .team_member_info {
        h4 {
          font-weight: 400;
          font-size: 28px;
          line-height: 171%;
          margin-bottom: 0;
          margin-top: 0.7em;
        }
        p {
          font-weight: 400;
          font-size: 20px;
          line-height: 160%;
          font-family: $openSans;
          margin-top: 0.7em;
          margin-bottom: 0;
        }
      }
    }

    &.md_vw {
      max-width: 901px;
      grid-template-columns: repeat(auto-fill, minmax(250px, max-content));
      .team_member {
        .team_member_display {
          max-width: 250px;
          height: 250px;
        }
      }
    }
    &.disp_row {
      margin-top: 4em;
      max-width: 901px;
      grid-template-columns: repeat(auto-fill, minmax(400px, max-content));
      .team_member {
        display: flex;
        height: 120px;
        .team_member_display {
          width: 120px;
          margin-right: 10px;
        }
      }
    }
  }
  .team_members_contain_inverted {
    display: none;
  }

  &.inverted {
    .team_members_contain {
      display: none;
    }
    .team_members_contain_inverted {
      display: block;
      .team_members_contain {
        display: grid;
      }
    }
  }
}
.our_blog_container {
  background-color: $darkBlue;
  color: $white;
  min-height: 400px;
  .lead_contain {
    text-align: center;
    max-width: 1099px;
    margin: 0 auto;
    color: $white;
    border-bottom: 1px solid $white;
    padding-bottom: 1em;

    h4 {
      font-weight: 400;
      font-size: 20px;
      line-height: 32px;
      font-family: $openSans;
    }
    h2 {
      font-weight: 400;
      font-size: 44px;
      line-height: 72px;
      max-width: 862px;
      margin-left: auto;
      margin-right: auto;
    }
  }
  .blog_insight_contain {
    margin: 2em auto;
    // margin-top: 2em;
    max-width: 1099px;
    .blog_insight_item {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      &-key {
        width: 100%;
        max-width: 500px;
        margin-bottom: 1.5em;
        h3 {
          font-weight: 400;
          font-size: 48px;
          line-height: 72px;
          margin-top: 0.4em;
          span {
            color: $green;
          }
        }
      }
      &-value {
        width: 100%;
        max-width: 510px;
        p {
          font-weight: 400;
          font-size: 20px;
          line-height: 32px;
          color: $lighyGrey;
        }
      }
    }
  }
}

.about_container.inverted {
  background-color: $green;

  .nav-link_link.btn_default {
    display: none;
  }
  .nav-link_link.btn_aboutv2 {
    display: block;
  }
  .lead_container {
    text-align: left;
    flex-flow: row wrap;
    justify-content: flex-start;
    min-height: 400px;
    margin-bottom: 0;
    .info {
      max-width: 610px;
      h4 {
        color: $darkBlue;
      }
      h1 {
        color: $black;
        font-size: 48px;
        line-height: 150%;
      }
    }
    .desc {
      max-width: 455px;
      margin: 0 auto;
      p {
        color: $darkBlue;
      }
    }
  }
}
