@import './_variables.scss';

* {
  box-sizing: border-box;
}
.container {
  padding: 2em 4em;
}

img {
  width: 100%;
  height: 100%;
}

// NavBar
.nav-contain {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;

  .nav-link {
    &_contain {
      display: inline-flex;
      flex-flow: row wrap;
      align-items: center;
      list-style-type: none;
    }
    &_link {
      color: $white;
      font-weight: 600;
      line-height: 28px;
      font-size: 16px;
      font-family: 'Open Sans', 'Manrope', 'Helvetica Neue';
      margin-right: 2.3em;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
.inverted .nav-contain {
  .nav-link_link {
    color: $darkBlue !important;
  }
}

// Button
.button {
  outline: none;
  padding: 0.5em 2.8em;
  color: $darkBlue;
  font-weight: 700;
  font-family: 'Open Sans', 'Manrope', 'Helvetica Neue';
  line-height: 28px;
  font-size: 16px;
  border-radius: 24px;
  border: 2px solid;
  cursor: pointer;

  &.primary {
    color: $white;
    background: $darkBlue;
    border-color: $darkBlue;
  }
  &.pry_green {
    background: $green;
    border-color: $greenBD;
  }
  &.pry_white {
    background: $white;
    border-color: $darkBlue;
  }
  &.secondary {
    background: $white;
    border-color: $darkBlue;
  }
  &.sec_white {
    color: $white;
    background: transparent;
    border-color: $white;
  }
}

// FooterCTA
.footer_cta_sect {
  background-color: $white;

  .newsletter_cta {
    background-color: $darkBlue;
    color: $white;
    min-height: 391px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    background-image: url('../../public/assets/images/footer_bg_mask.svg');
    background-repeat: no-repeat;
    background-position: right top;
    height: 100%;
    width: 100%;

    .lead_text {
      font-weight: 400;
      font-size: 44px;
      line-height: 150%;
      max-width: 716px;
      text-align: center;
    }
    .newsletter_form {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content: space-between;
      max-width: 604px;
      margin-top: 1em;

      input {
        height: 100%;
        padding: 0.3em 1.3em;
        outline: none;
        border: 2px solid $white;
        border-radius: 24px;
        font-family: $openSans;
        font-size: 20px;
        line-height: 32px;
        margin-right: 2em;
        margin-top: 1em;
      }
      button {
        margin-top: 1em;
      }
    }
  }
  .main_footer {
    display: flex;
    flex-flow: row wrap;
    padding: 2em 0;
    .company_info_contain {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-right: 10%;
      margin-top: 1em;
      .company_info {
        max-width: 300px;
        .footer_logo {
          width: fit-content;
          margin-bottom: 2em;
        }
        p {
          font-weight: 400;
          font-size: 16px;
          line-height: 28px;
          font-family: $openSans;
          color: $grey;
        }
      }
      .rights {
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        font-family: $openSans;
        color: $grey;
      }
    }
    .sublink_contain {
      max-width: 642px;
      width: 100%;
      // justify-self: center;
      margin-top: 1em;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      .sublink_item_list {
        width: 150px;
        .title {
          font-weight: 700;
          font-size: 20px;
          line-height: 32px;
          font-family: $openSans;
        }
        & > div {
          margin-bottom: 1.5rem;
        }
        .sublink_item {
          display: block;
          font-weight: 400;
          font-size: 20px;
          line-height: 32px;
          font-family: $openSans;
          color: $grey;
        }
      }
    }
  }
}
